@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body	{
	background-color: #2C3A49;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
    background-attachment: fixed;
	color: white;
	text-align: center;
	font-size: 10pt;
	font-family: 'Supermercado One', cursive;
	letter-spacing: 2px;
	line-height: 25px;
}
h1		{
	font-family: 'Press Start 2P', cursive;
	font-size: 64pt;
	margin-bottom: 45px;
}
.icon	{
	font-size:14pt;
	line-height: 1px;
	margin-top: 1px;
}
.header	{
	padding-top: 15%;
	font-size: 56pt;
}
hr 	{
	margin-bottom: 5px;
	margin-top: 5px;
}
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: right;
    width: 100%;
    font-family: 'Nova Square', cursive;
}

.footer {
    background: none repeat scroll 0 0 transparent;
    margin: auto;
    font-family: 'Nova Square', cursive;
    width: 90%;
}
a {
	color:#ffffff;
	text-decoration:blink;
	transition:all .30s ease-in-out;
}

a:hover{
	color:#2980B9;
}
